body {
    margin: 0;
    padding: 0;
    background-color: $main-bg;
    font-family: sans-serif;
    color: $dark-blue;

    * {
        outline: none;
    }

    hr {
        width: 98%;
    }
    
    a, span {
        text-decoration: none;
        overflow: hidden;
        color: $dark-blue;

        &:hover {
            color: $orange;
        }
    }

    ul {
        list-style-type: none;
    }
}

@media (min-width: 500px) {
   body {
    padding: 0 0 0 30%;
   }
}
