$light-blue: rgb(73,104,142);
$dark-blue: rgb(41,74,112);
$orange: rgb(244,160,36);
$light: rgb(230, 232, 238);
$dark:  rgb(19, 37, 56);
$dark-bg: rgb(46, 37, 85);
$middle-bg: rgb(75, 59, 145);
$white: white;

