$light-blue: rgb(73,104,142);
$dark-blue: rgb(41,74,112);
$orange: rgb(244, 162, 50); //#ed8035;
$light: rgb(230, 232, 238);
$dark:  rgb(19, 37, 56);
$dark-bg: rgb(46, 37, 85);
$middle-bg: rgb(75, 59, 145);
$main-bg: rgb(242,242,242);
$body-bg: rgba(142, 128, 142, 0.5);
$white: white;
$green: rgb(70, 172, 70);
$red: rgb(192, 100, 100);;

