#app-wrapper {
    background-color: white;
    width: 100%;
    min-height: 740px; 
}

@media (min-width: 460px) {
    #app-wrapper {
        width: 360px; //60%;
        box-shadow: 2px 2px 2px 2px grey;
    }
}