#app-wrapper .footer {
    background-color: white;;
    border-top: 5px solid $dark-blue;
    padding-top: 2px;

    .logo, .support {
        padding-left: 16px;
    }

    .zita-link {
        padding-top: 20px;
        padding-right: 16px;
        font-size: 1.5em;
    }
}