#app-wrapper .main-content { 
    min-height: 500px; 

    .job {
        text-align: center;

        .counter {
            position: relative;
            color: $orange;
            font-size: 22px;
            font-weight: bolder;
        }
    } 

    .view-wrapper {
        * {
            text-align: center;
        }

        section *, ul li {
            text-align: left;
        }

        .mon {
            margin-left: 35px;
        }

        .lessons-wrapper, .tests-wrapper {
            font-size: 18px;
        }

        .lessons-wrapper {
            padding-left: 11px;
            margin-top: -3px;
        }

        .tests-wrapper {
            padding-left: 33px;
        }

        .info {
            .shadowed {
                text-shadow: 1px 1px $orange;
            }

            .shadowed-rev {
                text-shadow: 1px 2px $dark-blue;
                a {
                    color: $orange;
                
                    &:hover {
                        text-shadow: none;
                    }
                }
            }
        }
    }
}