#app-wrapper .main-content { 
    min-height: 500px;  

    .view-wrapper {
        * {
            text-align: center;
        }

        section *, ul li {
            text-align: left;
        }

        .mon {
            margin-left: 35px;
        }

        .lessons-wrapper {
            padding-left: 12px;
        }

        .tests-wrapper {
            padding-left: 41px;
        }
    }
}