#app-wrapper nav.main-nav {
    background-color: $light-blue;
    margin-top: -15px;
    
    ul {  
        padding-top: 3px;
        padding-bottom: 3px;
        
        .nav-link {
            color: $light;
            text-align: center;
            font-size: 0.9em;
            font-weight: bold;
            margin-left: -6px;

            &:hover {
                color: $orange;
            }
        }
    }   
}